*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.todo__container{
    background-color: antiquewhite;
    width: 300px;
    height: 600px;
    box-shadow: 2px 2px 40px 10px rgb(200, 200, 200);
    border-radius: 30px;
    overflow: hidden;
}


.todo__banner{
    width: 100%;
    height: auto;
    padding: 1em 1.5em;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phrase{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 1.2em;
    text-align: center;
}

.form__tasks{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.todo__banner label{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

[type="text"]{
    padding: .5em;
    margin-bottom: 2em;
}

[type="submit"]{
    padding: .7em 1.5em;
    width: auto;
    border: none;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

[type="submit"]:hover{
    background: #fff;
    color: #8360c3;
}


.task__container{
    height: 400px;
    padding: 1em 2em;
}

.task{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.task p{
    display: inline-block;
}

.task i{
    border:none;
    background: none;
    font-size: 1.4em;
    color: red;
    cursor: pointer;
}
